.topbar {
    overflow: hidden;
    max-height: 300px;
    display: block;
}

.landing-page {
    background-color: #596C62;
    width: 100vw;
    height: 100vh;
    min-height: 400px;
    position: relative;
}

.mid-bar{
    position: absolute;
    top: 10vh;
}

h2 {
    justify-self: center;
    text-align: center;
    font-weight: 900;
    color:  #FFF9E3;
    font-size: 2rem;
    margin: auto;
    margin-bottom: 0;
    width: 80%;
}