.topbar {
    overflow: hidden;
    max-height: 300px;
    display: block;
}

.landing-page {
    background-color: #61483D;
    width: 100vw;
    height: 100vh;
    min-height: 560px;
    position: relative;
    overflow-y: hidden;
}

h2 {
    justify-self: center;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color:  #FFF9E3;
}