.future-weather-holder-container{
    width: 80%;
    min-width: 320px;
    height: 320px;
    margin: auto;
    margin-top: 20px;
    left: 0;
    right: 0;
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    overflow: scroll;
    position: relative;
}