.future-weather-item{
    height: 48px;
    width: 100%;
    margin:auto;
    margin-bottom: 20px;
    border-radius: 20px;
    overflow: hidden;
    position: relative;
}

.background-img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    justify-content: center;
    top:0;
    left:0;
    object-fit: cover;
    opacity: 0.8;
}

.info-container {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
}

.info-container div {
    width: 25%;
    height: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-shadow: black;
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info-container div:hover{
    cursor: initial;
}