.container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0px;
    margin: 0;
}

.top-img{
    min-width: 100%;
    height: 100%;
    margin-top: 0;
    object-fit: cover;
    transition: visibility 0s 2s, opacity 2s linear;
}
.bottom-row {
    align-self: center;
    justify-content: center;
    margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
    height: 20px;
    display: flex;
}

.left-button {
    position: absolute;
    left: 0;
    display: block;
    border-radius: 5px;
    border: none;
    padding: 3px;
    opacity: 0;
    height: 100%;
    width: 20%;
}

.left-button:hover {
    cursor: pointer;
}

.right-button {
    position: absolute;
    right: 0;
    display: block;
    border-radius: 5px;
    border: none;
    padding: 3px;
    opacity: 0;
    height: 100%;
    width: 20%;
}

.right-button:hover {
    cursor: pointer;
}