.weather-container {
    position: absolute;
    margin: auto;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: small ;
    min-width: 320px;
    width: 60%;
    left: 0;
    right: 0;
    background-color: #E9EEE7;
    border-radius: 5px;
    color: #000;
    justify-content: center;
    bottom: 30px;
}

.weather-container:hover{
    background-color: rgba(233,238,231, 0.7);
    cursor: pointer;
    box-shadow: slategrey;
}

.weather-element {
    display: block;
    padding: 10px;
    width: 25%;
    text-align: center;
    color: black;

}