.weather-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 12px ;
    left: 0;
    right: 0;
    margin: auto;
    width: 100%;
    min-width: 280px;
    height: 3%;
    justify-content: center;
    align-content: center;
    z-index: 2;
}

.weather-element {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 5px;
    width: 22.5%;
    margin: 0;
    
}

.weather-element:first-child{
    width: 10%;
}

.weather-element img {
    display: block;
    height: 12px;
}

.weather-element p {
    display: block;
    width: fit-content;
    text-align: center;
    margin: 0;
    margin-left: 5px;
}

.credit {
    font-size: 8px;
    margin: 5px;
    position: absolute;
    width: fit-content;
    right: 0;
    color: #FFF9E3;
}

.credit a {
    display: inline-block;
    padding: 1px;
    border-radius: 2px;
    color: white;
}