.weather-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 12px ;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 320px;
    justify-content: center;
    align-content: center;
    top: 0;
}

.weather-element {
    display: block;
    padding: 5px;
    width: 20%;
    height: 100%;
    min-height: 18px;
    text-align: center;
}

.weather-element img {
    height: 15px;
    margin-right: 5px;
}

.credit {
    font-size: 8px;
    margin: 5px;
    position: absolute;
    width: fit-content;
    right: 0;
    bottom: -20px;
    color: #FFF9E3;
}

.credit a {
    display: inline-block;
    padding: 1px;
    border-radius: 2px;
    color: white;
}