.weather-container {
    position: absolute;
    display: flex;
    flex-direction: row;
    font-size: 12px ;
    left: 0;
    right: 0;
    margin: auto;
    min-width: 320px;
    justify-content: center;
    align-content: center;
    bottom: 0;
}

.weather-container:hover{
    background-color: rgba(233,238,231, 1);
    cursor: pointer;
    box-shadow: slategrey;
}

.weather-element {
    display: block;
    padding: 5px;
    width: 20%;
    height: fit-content;
    min-height: 12px;
    text-align: center;
}

.weather-element img {
    height: 12px;
    margin: auto;
    margin-right: 5px;
}