.result-item-container {
    padding: 12px;
    margin: 5px;
    border-radius: 12px;
    background-color: #FFF9E3;
}

.result-item-container:hover{
    cursor: pointer;
    background-color: burlywood;
}

.location-name {
    font-size: 24px;
    font-weight: bold;
}

.detail {
    font-size: 12px;
}