.result-container {
    position: absolute;
    bottom: 0;
    height: fit-content;
    overflow: hidden;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 0px;
    min-width: 280px;
    width: 80%;
    left: 0;
    right: 0;
    border-radius: 12px;
    z-index: 3;
}

.scrollable {
    height: fit-content;
    max-height: 40vh;
    overflow: auto;
    background: transparent;
}

::-webkit-scrollbar {
    display: none;
}

.more-button {
    border: none;
    border-radius: 12px;
    padding: 5px;
    width: 100%;
    outline: none;
    opacity: 0.8;
    margin-bottom: 5px;
}

.more-button:hover{
    cursor: pointer;
    opacity: 0.9;
}

.more-button:focus {
    border: none;
}