.container-search {
    display: block;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    height: 40vh;
    width: 100vw;
    top: 0px;
    margin: 0;
}

h2 {
    justify-self: center;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  #FFF9E3;
}

.search-bar {
    display: flex;
    flex-direction: row;
    overflow: hidden;
    margin: auto;
    min-width: 360px;
    width: 60%;
    left: 0;
    right: 0;
}

.search-bar input[type=text] {
    -webkit-appearance: none;
    width: calc(100% - 80px);
    box-sizing: border-box;
    border-radius: 0px 20px 20px 0px;
    margin: 0px;
    border: none;
    padding: 10px 50px 10px 10px;
    outline: none;
    font-family: sans-serif;
    background-color: #FFF9E3;
}

.search-bar input:focus{
    -webkit-appearance: none;
    outline: burlywood;
    border: none;
    border-radius: 10px;
}

.submit {
    width: 50px;
    height: 30px;
    background: none;
    margin: auto;
    margin-left: -50px;
    align-items: center;
    justify-items: center;
    opacity: 90%;
}

.filter {
    width: 80px;
    background: none;
    padding: 10px 20px;
    margin: 0;
    opacity: 90%;
    background-color: #502619;
    color: #FFF9E3;
    border-radius: 20px 0 0 20px;
    text-align: left;
    font-family: sans-serif;
    justify-content: center;
    align-items: center;
}

.search-logo {
    display: block;
    height: 16px;
    margin: auto;
    padding: 6px;
}