.App {
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    overflow-x: scroll;
}

.main-background-color {
    background-color: #060D08;
    color:  #FFF9E3;
}

.main-background-color-faded{
    background-color: #060d08b7;
    color:  #FFF9E3;
}

.main-background-color-faded:hover{
    cursor: pointer;
    background-color: #060d08;
    color:  #FFF9E3;
}

.secondary-background-color {
    background-color: #FFF9E3;
    color: #060D08;
}

.secondary-background-color-faded {
    cursor: pointer;
    background-color: #fff9e308;
    color: #060D08;
}

.secondary-background-color-faded:hover {
    background-color: #FFF9E3;
    color: #060D08;
}

.button {
    display: block;
    border-radius: 5px;
    border: none;
    margin: 10px;
    padding: 3px;
    opacity: 0.5;
}

.button:hover{
    cursor: pointer;
    opacity: 0.6;
}

.button:focus{
    opacity: 0.8;
}